:root {
  --md-default-bg-color: #F0F0F0;
  --md-primary-fg-color: #71afdd;
  --md-primary-fg-color--light: #71afdd50;
  --md-primary-fg-color--dark: #222831;
  --md-accent-fg-color: #ffffff;
  --md-accent-fg-color--light: #71afdd50;
  --md-accent-fg-color--dark: #222831;
}

[data-md-color-scheme="tripress"] {
  --md-primary-fg-color: #ffffff;
  --md-primary-fg-color--light: #71afdd50;
  --md-primary-fg-color--dark: #71afdd;
  --md-primary-bg-color: #222831;
  --md-primary-bg-color--light: ;

  --md-accent-fg-color: #71afdd;
  --md-accent-fg-color--transparent: #71afdd;
  --md-accent-bg-color: #F0F0F0;
  --md-accent-bg-color--light: #F0F0F0;
}

[data-md-color-scheme="tridark"] {
  --md-default-bg-color: #121212;
  --md-default-fg-color--light: #ffffff8a;
  --md-typeset-color: #f1f1f1;

  --md-primary-fg-color: #232323;
  --md-primary-fg-color--light: #71afdd50;
  --md-primary-fg-color--dark: #ffffff;
  --md-primary-bg-color: #ffffff;
  --md-primary-bg-color--light: #fff;
  
  --md-accent-fg-color: #ffffff;
  --md-accent-fg-color--transparent: #ffffff;
  --md-accent-bg-color: #121212;
  --md-accent-bg-color--light: #121212;
}